<app-header title="User List"></app-header>

<ion-content>
    <div class="flow-root">
        <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
            <li class="py-3 sm:py-4" *ngFor="let user of (users | async)">
                <app-user-card [userInfo]="user"></app-user-card>
            </li>
        </ul>
    </div>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>