<app-header title="Post List"></app-header>
<ion-content>
    <ion-grid>
        <ion-row>
          <ion-col><ion-searchbar [(ngModel)]="search" animated></ion-searchbar></ion-col>          
        </ion-row>
      </ion-grid>
    <div class="wrapper-grid">
        <!-- movies persisted on the backend -->
        <div class="wrapper-movie">
          <ion-button routerLink="create">New Post</ion-button>
            <app-post-card
                *ngFor="let post of posts$ | filterAuthor:search"
                [postInfo]="post"  
                [canDelete]="post.userId == user_id"
                (onDeleted) = "deletePost($event)"    
            >
                      
          </app-post-card>
        </div>
        </div>
</ion-content>
