<div class="w-full">
  <ion-card-header>
    <ion-card-title> 
      <ion-toolbar>
      <p class="text-emerald-600">{{ commentInfo?.name }}</p>
      <ion-icon *ngIf="canDelete" slot="end" class="delete-button  text-red-600" (click)="delete();" name="trash-outline"></ion-icon>
    </ion-toolbar>
    </ion-card-title>
    <ion-card-subtitle><p class="italic">{{ commentInfo?.email }}</p></ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <p class=" text-gray-900">
      {{ commentInfo?.body }}</p>
  </ion-card-content>
</div>