<form [formGroup]="form" (submit)="onSubmit()">
	<div class="px-10">
	<div class="mb-6">
		<label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Title</label>
		<input type="text" id="title" formControlName="title" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
	    <span *ngIf="this.form.get('title')?.errors?.['required']">
			<p class="mt-2 text-sm text-red-600 dark:text-red-500">* Required.</p>
		  </span> 
	</div>
	<div class="mb-6">
		<label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Body</label>
		<textarea id="message" formControlName="body" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Leave a text..."></textarea>
		<span *ngIf="this.form.get('body')?.errors?.['required']">
			<p class="mt-2 text-sm text-red-600 dark:text-red-500">* Required.</p>
		  </span> 
	</div>	
	
	<div class="flex items-start mb-6">
	  
	</div>
	<div class="flex space-x-4 text-center">
	<button type="submit"  class="text-white px- bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-emerald-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-emerald-600 dark:hover:bg-emerald-700 dark:focus:ring-emerald-800">
	 	
		<ion-spinner class="text-white align-middle" name="circles" *ngIf="spinner"></ion-spinner>Save</button>
   
	<button type="button" [routerLink]="['/post']" class="text-white bg-gray-400 hover:bg-gray-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Cancel</button>
</div>
</div>
</form>

