<ion-card>
  <ion-card-header>
    <ion-card-title> {{ postInfo?.title }}
      </ion-card-title>
    <ion-card-subtitle>By {{ postInfo?.user?.name }}</ion-card-subtitle>
   
              
  </ion-card-header>
  <ion-card-content>
    <ion-icon *ngIf="canDelete" slot="end" class="delete-button" (click)="presentAlert();" name="trash-outline"></ion-icon>
    
    {{ postInfo?.body }}
    <ion-label>
    Cantidad de Comentarios: {{ postInfo?.comments?.nodes?.length }}
    </ion-label>
    <ion-label>
      Cantidad de Comentarios: {{ postInfo?.user?.id }}
      </ion-label>
  </ion-card-content>
  <ion-item *ngIf="user_id == postInfo?.user?.id">
  <app-comment-card 
              *ngFor="let comment of postInfo.comments?.nodes"
              [canDelete]="user_id == postInfo?.user?.id"
              [commentInfo]="comment" 
             ></app-comment-card> 
            </ion-item>
</ion-card>